/* RESET GLOBAL LIMPIO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #EDEDED; /* gris claro como tu maqueta */
}

/* Scroll bonito */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}